<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Photo Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="uniquePhotos().length === 0">No hay fotos aún.</div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of uniquePhotos(); index as i">
        <ion-card>
          <ion-img [src]="photo.webviewPath" (error)="onImgError($event)"></ion-img>
          <ion-card-content>
            <h1>Coordenadas:</h1>
            <p *ngIf="photo.latitude && photo.longitude">
              Latitud: {{ photo.latitude }}, 
              <br>Lng: {{ photo.longitude }},
            </p>
            <p *ngIf="photo.mapLink">
              <a [href]="photo.mapLink" target="_blank">Ver ubicación en Google Maps</a>
            </p>
            <ion-button expand="block" color="danger" (click)="deletePhoto(photo, i)">
              Eliminar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
