<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Galería de Fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="uniquePhotos().length === 0" class="no-photos">
    No hay fotos aún.
  </div>

  <div class="gallery">
    <div class="photo" *ngFor="let photo of uniquePhotos(); index as i">
      <img [src]="photo.webviewPath" (error)="onImgError($event)" />
      <button class="delete-btn" (click)="deletePhoto(photo, i)">
        <ion-icon name="trash-outline"></ion-icon>
      </button>

      <div class="photo-info">
        <h2>Coordenadas</h2>
        <p *ngIf="photo.latitude && photo.longitude">
          Latitud: {{ photo.latitude }}<br>
          Longitud: {{ photo.longitude }}
        </p>
        <p *ngIf="photo.mapLink">
        </p>
        <a [href]="photo.mapLink" target="_blank">Ver ubicación de la foto en Google Maps</a>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="camera-fab">
    <ion-fab-button color="primary" (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
